<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/ramiel.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Curriculo Eduardo Andrade</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/eu.png" alt="perfil Eduardo">
            <h1>Eduardo Andrade Saldanha</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/eduardo-andrade-saldanha/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/DudzD2">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.behance.net/eduandrade">
                    <i class="bi bi-behance"></i>
                </a>
                <a target="_blank" href="https://wa.me/5531971249847?text=Olá%20Eduardo!">
                    <i class="bi bi-whatsapp" style="padding-right: 4.2px;"></i>
                </a>
            </div>
        </section>

        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#inicio"><i class="bi bi-house"></i>Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person"></i>Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i>Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i>Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portifolio"><i class="bi bi-collection"></i>Portifólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i></i>Contato</a>
                </li>

            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Eduardo Andrade</h2>
                <span id="subtitle" class="text-white text-shadow">Software Engineering Student</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs=2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>

                </div>


            </div>


        </section>

        <section class="container mt-5" id="sobre">

            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit praesentium rem modi
                        exercitationem tempore beatae quos nostrum, laudantium sed, nam, ex ratione deleniti repellat
                        neque enim adipisci expedita eum iure? Soluta expedita eligendi omnis illo aliquid ad voluptate
                        necessitatibus vel numquam tempora quibusdam esse ratione aperiam quam, quasi officia. Cum
                        reprehenderit impedit, voluptatibus sint mollitia pariatur quam quasi obcaecati ipsam corrupti
                        amet expedita, illum nisi ab. Sit tempora doloremque quod nostrum ratione officia ullam ad
                        distinctio iste dicta non ea cupiditate nobis deleniti modi, magni cumque consequatur voluptate
                        impedit aliquid doloribus et animi! Cum reprehenderit alias, sed provident id laboriosam?</p>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-4">
                    <img class="img-fluid shadow mb-3" src="../static/img/eu.png" alt="foto Eduardo">
                </div>
                <div class="col-md-8">
                    <h3>Estudante de Enfgenharia</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa magnam quasi beatae expedita,
                        vitae a. Explicabo, dolor adipisci cupiditate mollitia optio blanditiis corrupti esse
                        architecto, porro nam aliquam similique natus a laborum facilis hic quis. Doloremque error quae
                        debitis laborum facilis tempora blanditiis
                    </p>
                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5 fw-semibold">
                                <li class="list-group-item">
                                    Aniversário: <span class="fw-normal">27 de Junho de 2001</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-normal">21 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-normal">Belo Horizonte - MG</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-normal">Minas Gerais</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5 fw-semibold">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-normal">Arco e Flecha</span>
                                </li>
                                <li class="list-group-item">
                                    Niver: <span class="fw-normal">27 de Junho de 2001</span>
                                </li>
                                <li class="list-group-item">
                                    Niver: <span class="fw-normal">27 de Junho de 2001</span>
                                </li>
                                <li class="list-group-item">
                                    Experiencia: <span class="fw-normal">5 anos</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, at quae harum id, cumque
                        quibusdam aut modi obcaecati maiores exercitationem totam. Obcaecati qui ipsum delectus sapiente
                        cumque nostrum reprehenderit quisquam.</p>

                </div>
            </div>

        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="div container pb-5">
                <h2 class="pb-5">Habilidades</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut laborum reprehenderit eveniet. Amet,
                    expedita.</p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%">70%</div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 58%">58%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 45%">45%</div>
                        </div>
                        <p class="mt-3 mb-0">C#</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">C++</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%">75%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Bootstrap</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%">70%</div>
                        </div>
                        <p class="mt-3 mb-0">GitHub</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 58%">58%</div>
                        </div>
                        <p class="mt-3 mb-0">NodeJS</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 45%">45%</div>
                        </div>
                        <p class="mt-3 mb-0">SQL</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">C++</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%">75%</div>
                        </div>
                    </div>
                </div>

                <hr class="w-75 me-auto ms-auto mt-5">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em Equipe</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%">70%</div>
                        </div>
                        <p class="mt-3 mb-0">Adaptação</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 58%">58%</div>
                        </div>
                    </div>
                    <div class="col-md6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%">70%</div>
                        </div>
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 58%">58%</div>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class="cv-item">
                            <h4>Bacharelado em Engenharia de Software</h4>
                            <h5>2023 - 2026 (Cursando Atualmente)</h5>
                            <p><em>PUC Minas - Praça da Liberdade</em></p>
                            <p>Bacharel em Engenharia de software, programação avançada, cálculo, Arquitetura de
                                Computadores, S.O, Hacking e pá</p>
                        </div>

                        <div class="cv-item">
                            <h4>Ensino Médio Técnico em T.I</h4>
                            <h5>2017 - 2020</h5>
                            <p><em>COTEMIG - Floresta</em></p>
                            <p>Ensino Médio com Formação tecnica em T.I matérias como programaçao, Configuração e
                                manutenção de Rede de computadores, Banco de dados e etc.</p>
                        </div>

                        <div class="cv-item">
                            <h4>Ensino Médio Técnico em T.I</h4>
                            <h5>2017 - 2020</h5>
                            <p><em>COTEMIG - Floresta</em></p>
                            <p>Ensino Médio com Formação tecnica em T.I matérias como programaçao, Configuração e
                                manutenção de Rede de computadores, Banco de dados e etc.</p>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>

                        <div class="cv-item">
                            <h4>Designer Master</h4>
                            <h5>2018 - 2019</h5>
                            <p><em>Zion - Floresta</em></p>
                            <p>Curso de desing gráfico voltado para criação de logomarcas, banners comerciais, cartões
                                de visita e convites.</p>
                        </div>

                        <div class="cv-item">
                            <h4>Rede de Computadores</h4>
                            <h5>2019</h5>
                            <p><em>COTEMIG - Barroca</em></p>
                            <p>Manutenção, Configuração de infraestrutura de rede de computadores, intranet, Configuração de cabos de rede RJ-45 e pá</p>
                        </div>

                        <div class="cv-item">
                            <h4>Rede de Computadores</h4>
                            <h5>2019</h5>
                            <p><em>COTEMIG - Barroca</em></p>
                            <p>Manutenção, Configuração de infraestrutura de rede de computadores, intranet, Configuração de cabos de rede RJ-45 e pá</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </main>


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>

</body>

</html>